<!-- TODO REMOVE AFTER REVIEW C2NET (With views/html/formly.html) -->
<div class="modal" tabindex="-1" role="dialog" ng-controller='formController'>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" ng-show="title">
        <h4 class="modal-title" ng-bind-html="title"></h4>
      </div>
      <div class="modal-body ">
        <div  ng-show="hasTask">
          <table class="table" ng-show="!isShow">
            <thead>
              <tr>
                <th>Task Name</th>
                <th>Select Task</th>
              </tr>
            </thead>
            <tbody>
                <tr ng-repeat='data in bpmnFormDataList'>
                  <td>{{selectTaskInformation(data.form)}}</td>
                  <td>
                    <a ng-click="selectForm(data);" href title="Open">
                      <span class="glyphicon glyphicon-open"/>
                    </a>
                  </td>
                </tr>
            </tbody>
          </table>

          <div ng-show="isShow">
            <form name="activitiName" ng-submit="onSubmit(activiti)" novalidate>
              <formly-form model="activiti" fields="activitiFields">
                <br>
                <button type="submit" class="btn  btn-primary submit-button" ng-click="submit(activiti)">Submit</button>
              </formly-form>
            </form>
          </div>
        </div>

        <div ng-show="!hasTask">
          <p>No task to do</p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="$hide()">Close</button>
      </div>
    </div>
  </div>
</div>
