.my-card#home
  .row.margin-card.card-body.card-body-menu.dashboard-content
    .col-xs-1.col-sm-1.dashboard-title
      p {{titleDashboard}}
    .col-xs-1.col-sm-1(ng-repeat="itemMain in moduleLinkGenerator")
      p {{itemMain.key}}
    .flex-container.dashboard-network
      p {{networkTitle}}

  .row.margin-card
    .col-xs-2.col-sm-2 
      .row.card-body
        summary-directive(summary-list='summaryList', summary-title='summaryTitle')
    .col-xs-10.col-sm-10
      .row.card-body.card-body-right
        list-menu-directive
