html
  head
    script(src='../../bpmnJs/components/file-saver/FileSaver.min.js')
    link(href='../../bpmnJs/css/app-bpmn.css' rel='stylesheet')
    link(href='../../bpmnJs/css/bpmn-embeded.css' rel='stylesheet')
    link(href='../../bpmnJs/css/diagram-js.css' rel='stylesheet')
    link(href='../../bpmnJs/css/styles.css' rel='stylesheet')

  body

    .bpmn-list-subheader.row
      .col-xs-12.col-md-3
      .col-xs-12.col-md-8.no-padding-xs
        .row
          .col-xs-6.col-sm-6.bpmn-list-subheader-title
            a(href='#/bpmn')
              h2.bpmn-list-subheader-title.small(ng-class="{'selected': selectedTab === 'editor'}")
                span.glyphicon.glyphicon-edit.glyphicon-menu
                | Editor
          .col-xs-6.col-sm-6.bpmn-list-subheader-title
            a(href='#/bpmn/task')
              h2.bpmn-list-subheader-title.small(ng-class="{'selected': selectedTab === 'task'}")
                span.glyphicon.glyphicon-list-alt.glyphicon-menu
                | Task Manager
