
.js-upload-diagram {
  background: #DDD;
  border: solid 1px #666;
  display: inline-block;
  padding: 5px;
}

.buttons a{
  opacity: inherit;
}

.bpmn-icon-size{
  font-size: 16px;
}

.taskManager{
  margin-top:115px;
  width: 95%;
}

.bpmn-list-subheader-title h2{
  color: white;
}

.second-submit-button{
  margin-left: 5px;
}

.my-form-label label{
  font-weight: bold;
  margin-left: -5px;
}

.my-form-label input {
  width: 100%;
  border-bottom : 1px solid #e0e0e0;
  border-bottom-color : #f44336;
}

.my-form-label select {
  width: 100%;
  border-bottom : 1px solid #e0e0e0;
  border-bottom-color : #f44336;
}

.sub-menu h2 {
  color : #ffffff;
}

.control-label{
    font-weight: bold;;
}

.table-hover{
  background: #e2e2e2
}
