
.js-upload-diagram {
  background: #DDD;
  border: solid 1px #666;
  display: inline-block;
  padding: 4px;
}

.buttons a{
  opacity: inherit;
}

.taskManager{
  margin-top:115px;
  width: 75%;
}

.second-submit-button{
  margin-left: 5px;
}

.my-form-label label{
  font-weight: bold;
  margin-left: -5px;
}

.my-form-label input {
  width: 100%;
  border-bottom : 1px solid #e0e0e0;
}

.my-form-label select {
  width: 100%;
  border-bottom : 1px solid #e0e0e0;
}


.control-label{
    font-weight: bold;
}

.table-shadow{
  background-color : #ffffff;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.08);
}

.form-container{
  background-color : #ffffff;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.08);
}

.form-container input{
  padding: 5px;
}

.glyphicon-menu{
  padding-right: 3px
}

.bpmn-list-subheader-title h2{
  color: white;
}

.selected{
  color: white;
  text-decoration: underline;
}
