<head>
  <link href="../helloworld/css/app-bpmn.css" rel="stylesheet">
  <link href="../helloworld/css/bpmn-embeded.css" rel="stylesheet">
  <link href="../helloworld/css/diagram-js.css" rel="stylesheet">
</head>

<body ng-app='esn.bpmn'  ng-controller='bpmnController'>
<!--  <div class='items' dynamic-directive='anchorPoint1'>
    <dir1></dir1>
  </div>
  <div>
    <button add-button ng-click='add()'>Dynamically add the dir2 directive</button>
  </div>-->


<!--BPMN Test-->

  <!--<div class="modeler">
    <div id="canvas"></div>
    <div id="properties"></div>
  </div>-->



  <!--<h1>Test bpmn.io</h1>

  <div id="canvas"></div>-->


  <div class="content" id="js-drop-zone">

    <div class="message intro">
      <!--<div class="note">
        Drop BPMN diagram from your desktop or <a id="js-create-diagram" href>create a new diagram</a> to get started.
      </div>-->
    </div>

    <div class="message error">
        <!--<div class="note">
      <p>Ooops, we could not display the BPMN 2.0 diagram.</p>

        <div class="details">
          <span>cause of the problem</span>
          <pre></pre>
        </div>
      </div>-->
    </div>

    <div class="canvas" id="js-canvas"></div>
    <div id="js-properties-panel"></div>
  </div>

  <ul class="buttons">
    <li>
      download
    </li>
    <li>
      <a id="js-download-diagram" href title="download BPMN diagram">
        BPMN diagram
      </a>
    </li>
    <li>
      <a id="js-download-svg" href title="download as SVG image">
        SVG image
      </a>
    </li>
    <li>
      <a ng-click="printTest()" href title="Save">
        Save Bpmn
      </a>
    </li>
</ul>
</body>
