<head>
  <script type="text/javascript" src="../bpmnJs/components/file-saver/FileSaver.min.js"/>

  <link href="../bpmnJs/css/app-bpmn.css" rel="stylesheet">
  <link href="../bpmnJs/css/bpmn-embeded.css" rel="stylesheet">
  <link href="../bpmnJs/css/diagram-js.css" rel="stylesheet">
  <link href="../bpmnJs/css/styles.css" rel="stylesheet">
</head>

<body ng-app='esn.bpmn'  ng-controller='bpmnController'>


  <div class="content" id="js-drop-zone">

    <div class="message intro">
      <div class="note">
        Drop BPMN diagram from your desktop or <a id="js-create-diagram" ng-click="initDiagram()">create a new diagram</a> to get started.
      </div>
    </div>

    <div class="message error">
        <div class="note">
      <p>Ooops, we could not display the BPMN 2.0 diagram.</p>

        <div class="details">
          <span>cause of the problem</span>
          <pre></pre>
        </div>
      </div>
    </div>

    <div class="canvas" id="js-canvas"></div>
    <div id="js-properties-panel"></div>
  </div>

  <ul class="buttons">
    <li>
      <input class="js-upload-diagram" ng-model="photo"
           onchange="angular.element(this).scope().file_changed(this)"
           type="file" accept="text/xml"/>
    </li>
    <li>
      <a ng-click="saveXML()" href title="Save">
        Save Bpmn
      </a>
    </li>

    <li class="bpmn-icon-size">
    <a ng-click="showModal()" href title="List">
        <span class="glyphicon glyphicon-th-list"/> List
      </a>
    </li>

    <li class="bpmn-icon-size">
      <a ng-click="saveXMLServer()" href title="Save">
        <span class="glyphicon glyphicon-save"/> Save
      </a>
    </li>

    <li class="bpmn-icon-size">
      <a ng-click="activitiWebService()" href title="activiti">
        <span class="glyphicon glyphicon-export"/> Activiti
      </a>
    </li>

    <li class="bpmn-icon-size">
    <a ng-click="showFormModal()" href title="Form">
        <span class="glyphicon glyphicon-edit"/> Form
      </a>
    </li>

</ul>
</body>
